html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* body
{
  background-image: url(images/gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center;
} */
/* HEADER */
.header {
  margin-bottom: -100px;

  z-index: 2;
}
h1,
h2,
h3,
h4,
li {
  margin: 0px;
  list-style: none;
  line-height: 2;
}
ul {
  padding-left: 0%;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.btn {
  color: aliceblue;
  background-color: #00adb5;
  font-family: 'Quicksand', sans-serif;
  border-radius: 15px;
  padding: 10px;
  border: 3px solid #00adb5;
}
.btn:hover {
  background-color: aliceblue;
  color: black;
  border-color: #00adb5;
}
nav {
  height: 5rem;
  padding: 10px auto;
}
.logo {
  width: 4rem;
  height: 4rem;
  float: left;
  margin: 10px auto 10px 20px;
}
.hi {
  position: absolute;
  right: 2rem;

  margin: 10px auto;
}
.intro {
  clear: left;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
}
.develope p {
  text-align: left;
}
.develope p {
  margin: auto;
  margin-left: 40%;
}
#developer {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: #38e54d;
}
.eng p {
  text-align: left;
}
.eng p {
  margin-left: 40%;
}

#engineer {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.5rem;
  color: #355764;
}

.profile {
  width: 10rem;
  border: 5px solid #393e46;
  border-radius: 47%;
  background-color: aliceblue;
}
@media only screen and (max-width: 840px) {
  .intro,
  #engineer,
  #developer {
    font-size: 1rem;
  }
  .eng p,
  .develope p {
    margin-left: 33%;
  }
}
/* EDUCATION */
.education {
  background-color: #393e46;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.box {
  width: 35%;
  padding: 20px 30px;
  border-radius: 20px;
  margin: 20px;
  background-color: aliceblue;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}
.hide {
  opacity: 0;
}
.black-box {
  background-color: #171717;
  color: white;
}
.left-box {
  animation: Leftanimation 2s ease-in 0s forwards;
  animation-direction: reverse;
}
.right-box {
  animation: Rightanimation 2s ease-in 0s forwards;
  animation-direction: reverse;
}
@keyframes Leftanimation {
  from {
    right: 0%;
    opacity: 1;
  }
  to {
    right: 35%;
    opacity: 0;
  }
}
.box-img {
  width: 7rem;
}
@keyframes Rightanimation {
  from {
    left: 0%;
    opacity: 1;
  }
  to {
    left: 35%;
    opacity: 0;
  }
}
.box-img {
  width: 7rem;
}
@media only screen and (max-width: 840px) {
  .box {
    margin: 30px auto;
    display: block;
    width: 50%;
  }
}
/* PROJECT */
.title {
  font-size: 3rem;
  font-weight: bold;
  border: 4px solid #393e46;
  color: #fff;
  background-color: #393e46;
  display: inline;
  padding: 15px;
  border-radius: 20px;
}
.projects {
  font-family: 'Quicksand', sans-serif;
  margin-top: -20px;
}
.pro {
  padding: 5%;
  position: relative;
}
.pro-img {
  display: inline-block;
  width: 50%;
}
.pro-img img {
  width: 40%;
}
.pro-des {
  position: relative;
  bottom: 5rem;
  display: inline-block;
  width: 30rem;
}
.pro-mid {
  background-color: #73777b;
  color: #fff;
}
@media only screen and (max-width: 840px) {
  /* .projects
  {
    text-align: center;
  } */
  .pro {
    padding: 20px;
    height: 50vh;
    display: flex;
    justify-content: center;
  }
  .pro-img {
    text-align: center;
    padding: 10px;
    height: 150px;
  }
  .pro-img img {
    width: 140px;
    align-items: center;
  }
  .pro-des {
    /* text-align: center; */
    width: 70%;
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    align-items: center;
    justify-items: center;

    position: absolute;
    bottom: 25px;
  }

  .pro-img {
    position: absolute;
    top: 10px;
    position: relative;
    bottom: 8rem;
  }
  h2 {
    font-size: 20px;
  }
  /* .pro-top+div, .pro-bottom+div
  {
    position:absolute;
    top:11rem ;
  } */
}

/* SKILLS */
.skills {
  background-color: #393e46;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  padding: 0% 5% 5% 5%;
}
.skill-title {
  margin-top: -70rem;
}
.language {
  width: 50%;
  padding: 1rem 2rem;
  color: #393e46;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 3rem;
  margin-top: 5rem;
  margin-left: 24%;
  margin-right: 26%;
}
.programming {
  width: 8rem;
}
.skill-img {
  width: 2rem;
  margin-right: 15px;
}
.bar {
  display: inline-block;
  position: relative;
  bottom: 15px;
  background-color: #b2b2b2;
  width: 60%;
  height: 10px;
  border-radius: 20px;
}
.skill-list li {
  list-style: none;
  margin: 30px auto;
  width: 70%;
}
.c,
.cpp,
.js,
.react,
.java {
  display: block;
  background: rgb(83, 170, 68);
  background: linear-gradient(
    0deg,
    rgb(82, 169, 103) 0%,
    rgb(0, 181, 72) 45%,
    rgb(2, 221, 112) 100%
  );
  border-radius: 20px;
}
.c {
  width: 50%;
  height: 100%;
  animation: c-pro 2s ease-in forwards;
}
.cpp {
  width: 65%;
  height: 100%;
  animation: cpp-pro 2s ease-in forwards;
}
.js {
  width: 70%;
  height: 100%;
  animation: js-pro 2s ease-in forwards;
}
.react {
  width: 50%;
  height: 100%;
  animation: react-pro 2s ease-in forwards;
}

.java {
  width: 30%;
  height: 100%;
  animation: java-pro 2s ease-in forwards;
}
@keyframes c-pro {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes cpp-pro {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}
@keyframes js-pro {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes react-pro {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes java-pro {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

.developement {
  width: 60%;
  background-color: #fff;
  color: #393e46;
  border-radius: 20px;
  padding: 2rem;
  margin: 5rem 20% 10rem 20%;
}
.web {
  width: 10rem;
}
.frontend h3 {
  color: #e94560;
}
.frontend {
  border-right: 1px solid #393e46;
  padding: 5% 5%;
  display: inline-block;
  width: 30%;
}
.backend h3 {
  color: #e94560;
}
.backend {
  padding: 5% 5%;
  display: inline-block;
  width: 30%;
}
h4 {
  color: #1363df;
}
@media only screen and (max-width: 840px) {
  .frontend {
    display: block;
    width: 70%;
    margin-left: 13%;
    margin-right: 17%;
    border: none;
  }
  .backend {
    display: block;
    width: 70%;
    margin-left: 13%;
    margin-right: 17%;
  }
  .language {
    margin: 10%;
    margin-left: 5%;
    width: 80%;
  }
  .developement {
    margin: 10%;
    margin-left: 5%;
    width: 80%;
  }
}
.footer {
  padding: 7% 10%;
  text-align: center;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  background-color: #222222;
}
.about p {
  margin: 0%;
}
.icons {
  padding: 5% 20% 5% 20%;
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
}
.icon {
  display: flex;
  margin-right: 20px;
  padding: 10px;
  border-radius: 50%;
}
.insta {
  background-color: #ff74b1;
  color: white;
}
.insta:hover {
  box-shadow: 0px -1px 10px 3px #ff74b1;
  -webkit-box-shadow: 0px -1px 10px 3px #ff74b1;
  -moz-box-shadow: 0px -1px 10px 3px #ff74b1;
  background-color: #171717;
  color: white;
}
.github {
  background-color: white;
  color: black;
}
.github:hover {
  box-shadow: 0px -1px 10px 3px #ffffff;
  -webkit-box-shadow: 0px -1px 10px 3px #ffffff;
  -moz-box-shadow: 0px -1px 10px 3px #ffffff;
  background-color: #171717;
  color: white;
}
.facebook {
  background-color: #2146c7;
  color: white;
}
.facebook:hover {
  box-shadow: 0px -1px 10px 3px #2146c7;
  -webkit-box-shadow: 0px -1px 10px 3px #2146c7;
  -moz-box-shadow: 0px -1px 10px 3px #2146c7;
  background-color: #171717;
  color: white;
}
@media only screen and (max-width: 840px) {
  .icons {
    padding: 20px;
  }
}

/* Hello */
